@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Spartan;
    font-weight: 500;
    src: url(https://fonts.google.com/specimen/Spartan);
  }
  @font-face {
    font-family: Spartan;
    font-weight: 600;
    src: url(https://fonts.google.com/specimen/Spartan);
  }
  @font-face {
    font-family: Spartan;
    font-weight: 700;
    src: url(https://fonts.google.com/specimen/Spartan);
  }
}

/* .slide {
  opacity: 0;
  transition-duration: 1.5s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1.5s ease;
  transform: scale(1.08);
} */

/* @-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} */
